
<!-- Navigation Bar CSS -->

<style>

    /* Navigation Bar */
    section {
        background-color: #1400FF;
        padding: 10px 20px;
        width: 100%;
        height: 46px;
        display: flex;
        align-items: center; 
        justify-content: space-between;
    }
    /* Navigation Bar Title: 'VIDEO GAME DESIGN CLUB @ CSUS' */
    h2 {
        color: white;
        font-size: 16.5px; 
    }

    /* Container for Social Media Icons */
    .navigation-social-container {
        display: flex;
        align-items: center;
        height: 100%;
    }

    /* Social Media Icons */
    img {
        display: flex;
        align-self: center;
        aspect-ratio: 1/1;
        width: 33px;
        margin: 0 5px;
    }

</style>

<!-- HTML -->
<section class="navigation-bar"> 
    <!-- Navigation Bar Title -->
    <h2>VIDEO GAME DESIGN CLUB &#64; CSUS</h2>
    <!-- Social Media Icons -->
    <div class="navigation-social-container">
        <!-- Discord -->
        <a href="https://discord.gg/AZBXVctsvU" target="_blank">
            <span class="screen-readers-only">Join Sacramento Video Game Design Club's Discord!</span>
            <img src="assets/images/discord-icon.png" alt="Facebook Icon" />
        </a>
        <!-- Instagram -->
        <a href="https://www.instagram.com/sacvideogamedesignclub/" target="_blank">
            <span class="screen-readers-only">Follow Sacramento Video Game Design Club on Instagram!</span>
            <img src="assets/images/instagram-icon.png" alt="Instagram Icon" />
        </a>
        <!-- GitHub -->
        <a href="https://github.com/Video-Game-Design-Club" target="_blank">
            <span class="screen-readers-only">Code with Video Game Design Club on GitHub!</span>
            <img src="assets/images/github-icon.png" alt="GitHub Icon" />
        </a>
    </div>
</section>