/* Fonts */
@font-face {
  font-family: 'Jockey One'; 
  src: url('./assets/fonts/JockeyOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pixel Operator';
  src: url('./assets/fonts/PixelOperator.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pixel Operator';
  src: url('./assets/fonts/PixelOperator-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* All elements */
* {
  box-sizing: border-box;
  font-size: 62.5%; /* The 62.5% Trick: 1rem = 10px */
  font-family: 'Jockey One'; /* Default font */
  color: white; /* Default font color */
}

/* Entire body of the website */
body {
  margin: 0;
  padding: 0;
}

/* Styles for all sections (Home, About, etc) */
section {
  width: 100%;
}

/* Hidden text for screenreaders only */
.screen-readers-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Header */
h1, h2 {
  margin: 0;
  font-size: 3.6rem;
}

/* Paragraphs */
p {
  font-family: 'Pixel Operator';
  font-size: clamp(1.4rem, 2.4vw, 3.2rem);
}

